
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" th:href="@{img/favicon.png}">

    <title>Main Dashboard </title>

    <!-- Bootstrap CSS -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link th:href="@{css/bootstrap-theme.css}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link th:href="@{css/elegant-icons-style.css}" rel="stylesheet" />
    <link th:href="@{css/font-awesome.min.css}" rel="stylesheet" />
    <!-- Custom styles -->
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link th:href="@{css/style-responsive.css}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    <script src="@{js/html5shiv.js}"></script>
    <script src="@{js/respond.min.js}"></script>
    <script src="@{js/lte-ie7.js}"></script>
    <![endif]-->


    <style>

        div.a{
            font-size: 150px;

        }

        a.countLink{
            color: #ffffff;
            text-underline: #ffffff;
        }

        a:hover{
            text-decoration: underline;
        }
    </style>
</head>

<body>
<!-- container section start -->
<section id="container" class="">
    <!--header start-->

    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
        </div>

        <!--logo start-->
        <a href="index.html" class="logo">Scholarship <span class="lite">Billing Checking</span></a>
        <!--logo end-->

        <div class="top-nav notification-row">
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="img/avatar1_small.jpg">
                            </span>
                        <span class="username">#USERNAME</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li>
                            <a href="#"><i class="icon_key_alt"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!-- notificatoin dropdown end-->
        </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu">
                <li class="">
                    <a class="" th:href="@{/dashboard}">
                        <i class="icon_house_alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a th:href="@{javascript:;}" class="">
                        <i class="icon_document_alt"></i>
                        <span>Bill Entry</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li> <a class="" th:href="@{/viewBillingEntry}"> View Billing Entry </a> </li>
                        <li> <a class="" th:href="@{/addBillingEntry}"> Create Billing Entry </a> </li>
                        <li> <a class="" th:href="@{/viewAllBillingEntry}">View All Documents</a></li>
                    </ul>
                </li>
                <li>
                    <a class="countLink" target="_blank" th:href="@{/reviewBillingEntry}">
                        <i class="icon_search-2"></i>
                        <span>Review Billing Entry</span>
                    </a>
                </li>
                <li>
                    <a class="" th:href="@{/verifyBillingEntry}">
                        <i class="icon_phone"></i>
                        <span>Verify Billing Entry</span>
                    </a>
                </li>
                <li>
                    <a class="" th:href="@{/viewBillsForAudit}">
                        <i class="icon_document_alt"></i>
                        <span>Audit Billing Entry</span>
                    </a>
                </li>
                <li>
                    <a class="" th:href="@{/forSignatureBilling}">
                        <i class="icon_folder"></i>
                        <span>For Signature </span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a th:href="@{javascript:;}" class="">
                        <i class="icon_creditcard"></i>
                        <span>Checks</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li> <a class="" th:href="@{/prepareChecks}">Prepare Checks </a> </li>
                        <li> <a class="" th:href="@{/releaseChecks}">Release Checks </a> </li>
                    </ul>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa fa-bars"></i> Dashboard</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a th:href="@{/dashboard}">Home</a></li>
                        <!--<li><i class="fa fa-bars"></i>Pages</li>
                        <li><i class="fa fa-square-o"></i>Pages</li>-->
                    </ol>
                </div>
            </div>
            <!-- Start of your page content -->

            <div class="row">
                <div class="col-lg-2">
                    <br/>
                    <h3>Total Accomplished</h3>
                </div>
                <div class="col-lg-5">
                    <div class="a">
                        <label th:text="${accompPercent}">98</label> <label>%</label>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="row">
                        <br/>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h4>Total No. of Bills Reviewed:</h4>
                        </div>
                        <div class="col-lg-6">
                            <h4 th:text="${totalRevCount}"> 5 </h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <h4>Total No. of Bills Verified:</h4>
                        </div>
                        <div class="col-lg-6">
                            <h4 th:text="${totalVerCount}"> 5 </h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <h4>Total No. of Bills Audited:</h4>
                        </div>
                        <div class="col-lg-6">
                            <h4 th:text="${totalAudCount}"> 5 </h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <h4>Total No. of Bills Signed:</h4>
                        </div>
                        <div class="col-lg-6">
                            <h4 th:text="${totalSigCount}"> 5 </h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <h4>Total No. of Check Created:</h4>
                        </div>
                        <div class="col-lg-6">
                            <h4 th:text="${totalPreCount}"> 5 </h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <h4>Total No. of Checks Issued:</h4>
                        </div>
                        <div class="col-lg-6">
                            <h4 th:text="${totalIssCount}"> 2</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <h4>Total No. of Bills Completed:</h4>
                        </div>
                        <div class="col-lg-6">
                            <h4 th:text="${compSize}"> 2</h4>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <br/>
            </div>

            <div class="row">
                <div class="col-lg-12">
                   <section class="panel-heading"> Pending Task</section>
                </div>
            </div>
            <div class="row">
                <br/>
                <br/>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="info-box blue-bg">
                                <i class="icon_document_alt"></i>
                                <div class="count"><span th:text="${newCount}"></span></div>
                                <div class="title">Bill Encoded</div>
                            </div>
                            <!--/.info-box-->
                        </div>
                        <!--/.col-->

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="info-box brown-bg">
                                <i class="icon_search-2"></i>
                                <div class="count">
                                    <a class="countLink" th:href="@{/reviewBillingEntry}">
                                        <span th:text="${revCount}"></span>
                                    </a>

                                </div>
                                <div class="title">Bill Reviewed</div>
                                <div> pending task </div>
                            </div>
                            <!--/.info-box-->
                        </div>
                        <!--/.col-->

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="info-box dark-bg">
                                <i class="icon_phone"></i>
                                <div class="count">
                                    <a class="countLink" th:href="@{/verifyBillingEntry}">
                                        <span th:text="${verCount}"></span>
                                    </a>
                                </div>
                                <div class="title">Bill Verified</div>
                                <div> pending task </div>
                            </div>
                            <!--/.info-box-->
                        </div>
                        <!--/.col-->

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="info-box green-bg">
                                <i class="icon_document_alt"></i>
                                <div class="count">
                                    <a class="countLink" th:href="@{/viewBillsForAudit}">
                                        <span th:text="${audCount}"></span>
                                    </a>

                                </div>
                                <div class="title">Bill Audited</div>
                                <div> pending task </div>
                            </div>
                            <!--/.info-box-->
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="info-box lime-bg">
                                <i class="icon_document_alt"></i>
                                <div class="count">
                                    <a class="countLink" th:href="@{/forSignatureBilling}">
                                        <span th:text="${sigCount}"></span>
                                    </a>

                                </div>
                                <div class="title">Bill Signed</div>
                                <div> pending task </div>
                            </div>
                            <!--/.info-box-->
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="info-box orange-bg">
                                <i class="icon_document_alt"></i>
                                <div class="count">
                                    <a class="countLink" th:href="@{/prepareChecks}">
                                        <span th:text="${prepCount}"></span>
                                    </a>

                                </div>
                                <div class="title">Check Prepared</div>
                                <div> pending task </div>
                            </div>
                            <!--/.info-box-->
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="info-box purple-bg">
                                <i class="icon_document_alt"></i>
                                <div class="count">
                                    <a class="countLink" th:href="@{/releaseChecks}">
                                        <span th:text="${issueCount}"></span>
                                    </a>
                                </div>
                                <div class="title">Check Released</div>
                                <div> pending task </div>
                            </div>
                            <!--/.info-box-->
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="info-box red-bg">
                                <i class="icon_document_alt"></i>
                                <div class="count">
                                    <a class="countLink" th:href="@{/viewAllBillingEntry}">
                                        <span th:text="${findings}"></span>
                                    </a>

                                </div>
                                <div class="title">Bill with Findings </div>
                                <div> pending task </div>
                            </div>
                            <!--/.info-box-->
                        </div>
                    </div>






                </div>
            </div>
        </section>
    </section>
    <!--main content end-->
</section>
<!-- container section end -->
<!-- javascripts -->
<script th:src="@{js/jquery.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<!-- nice scroll -->
<script th:src="@{js/jquery.scrollTo.min.js}"></script>
<script th:src="@{js/jquery.nicescroll.js}" type="text/javascript"></script>
<!--custome script for all page-->
<script th:src="@{js/scripts.js}"></script>


</body>

</html>
