<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="shortcut icon" href="img/favicon.png">

    <title> TESDA PASMAK : Scholarship Billing Checking System </title>

    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <!-- bootstrap theme -->
    <link th:rel="stylesheet" th:href="@{css/bootstrap-theme.css}" >
    <!--external css-->
    <!-- font icon -->
    <link th:rel="stylesheet" th:href="@{css/elegant-icons-style.css}"  />
    <link th:rel="stylesheet"  th:href="@{css/font-awesome.css}"/>
    <!-- Custom styles -->
    <link th:rel="stylesheet" th:href="@{css/style.css}" >
    <link th:rel="stylesheet" th:href="@{css/style-responsive.css}"  />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->

    <style>
        body{
            background: -webkit-linear-gradient(right, #bdc3c7, #e7e1e1);
        }

    </style>
</head>

<body>

<div class="container" align="center">
    <form class="login-form" action="#" th:action="@{/login}" method="post">
        <div class="login-wrap">
            <h3> PASMAK</h3>
           <h4> Scholarship Billing Checking System </h4><br/>
            <h4> Account Login </h4> <br/>

            <div th:if="${param.error}" class="alert alert-block alert-danger fade in">
                <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                </button>
                <strong>Wrong Credentials!</strong> Change a few things up and try submitting again.
            </div>

            <div th:if="${param.logout}" class="alert alert-success fade in">
                <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                </button>
                You successfully log out your account.
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                <input type="text" class="form-control" placeholder="Username" autofocus name="username" id="username">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" class="form-control" placeholder="Password" name="password" id="password">
            </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>


        </div>
    </form>
</div>


</body>

</html>
