<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" th:href="@{img/favicon.png}">

    <title>Main Dashboard </title>

    <!-- Bootstrap CSS -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link th:href="@{css/bootstrap-theme.css}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link th:href="@{css/elegant-icons-style.css}" rel="stylesheet" />
    <link th:href="@{css/font-awesome.min.css}" rel="stylesheet" />
    <!-- Custom styles -->
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link th:href="@{css/style-responsive.css}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    <script src="@{js/html5shiv.js}"></script>
    <script src="@{js/respond.min.js}"></script>
    <script src="@{js/lte-ie7.js}"></script>
    <![endif]-->

    <style>
        li.removeBullet{
            list-style-type: none;
        }
    </style>



</head>

<body>
<!-- container section start -->
<section id="container" class="">
    <!--header start-->

    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
        </div>

        <!--logo start-->
        <a href="index.html" class="logo">Scholarship <span class="lite">Billing Checking</span></a>
        <!--logo end-->

        <div class="top-nav notification-row">
            <!-- user login dropdown start-->
            <!--<li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="profile-ava">
                            <img alt="" src="img/avatar1_small.jpg">
                        </span>
                    <span class="username" th:text="${accountName.accountName}">#USERNAME</span>
                    <b class="caret"></b>
                </a>-->

            <!-- user login dropdown start-->
            <li class="dropdown removeBullet">
                <a data-toggle="dropdown" class="dropdown-toggle " href="#">
                            <span class="profile-ava">
                                <img th:src="@{/images/avatar1_small.jpg}">
                            </span>
                    <span class="username" th:text="${accountName.accountName}">Jenifer Smith</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>
                    <li class="eborder-top">
                        <a href="#"><i class="icon_profile"></i> Change my Password</a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_mail_alt"></i> Log out</a>
                    </li>
                </ul>
            </li>

        </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu">
                <li class="">
                    <a class="" th:href="@{/dashboard}">
                        <i class="icon_house_alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a th:href="@{javascript:;}" class="">
                        <i class="icon_document_alt"></i>
                        <span>Bill Entry</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li> <a class="" th:href="@{/viewBillingEntry}"> View Billing Entry </a> </li>
                        <li> <a class="" th:href="@{/addBillingEntry}"> Create Billing Entry </a> </li>
                        <li> <a class="" th:href="@{/viewAllBillingEntry}">View All Documents</a></li>
                    </ul>
                </li>
                <li>
                    <a class="countLink" target="_blank" th:href="@{/reviewBillingEntry}">
                        <i class="icon_search-2"></i>
                        <span>Review Billing Entry</span>
                    </a>
                </li>
                <li>
                    <a class="" th:href="@{/verifyBillingEntry}">
                        <i class="icon_phone"></i>
                        <span>Verify Billing Entry</span>
                    </a>
                </li>
                <li>
                    <a class="" th:href="@{/viewBillsForAudit}">
                        <i class="icon_document_alt"></i>
                        <span>Audit Billing Entry</span>
                    </a>
                </li>
                <li>
                    <a class="" th:href="@{/forSignatureBilling}">
                        <i class="icon_folder"></i>
                        <span>For Signature </span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a th:href="@{javascript:;}" class="">
                        <i class="icon_creditcard"></i>
                        <span>Checks</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li> <a class="" th:href="@{/prepareChecks}">Prepare Checks </a> </li>
                        <li> <a class="" th:href="@{/releaseChecks}">Release Checks </a> </li>
                    </ul>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa fa-bars"></i> Dashboard</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a th:href="@{/dashboard}">Home</a></li>
                        <!--<li><i class="fa fa-bars"></i>Pages</li>
                        <li><i class="fa fa-square-o"></i>Pages</li>-->
                    </ol>
                </div>
            </div>
            <!-- Start of your page content -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <section class="panel">
                            <header class="panel-heading">
                                Billing Log
                            </header>
                            <div class="panel-body">
                                <div class="row">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Bill Status</td>
                                            <td th:style="${billEntry.billStatus == 'COMPLETE' ? 'color: red;' : 'color:green'}" th:text="${billEntry.billStatus}" > Status </td>
                                        </tr>
                                        <tr>
                                            <td>Bill Created</td>
                                            <td th:text="${billNotes.billCreated}" > Status </td>
                                        </tr>
                                        <tr>
                                            <td>Bill Reviewed</td>
                                            <td th:text="${billNotes.billChecked}" > Status </td>
                                        </tr>
                                        <tr>
                                            <td>Bill Verified</td>
                                            <td th:text="${billNotes.billVerified}" > Status </td>
                                        </tr>
                                        <tr>
                                            <td>Bill Audited</td>
                                            <td th:text="${billNotes.billAudited}" > Status </td>
                                        </tr>
                                        <tr>
                                            <td>Bill Signed</td>
                                            <td th:text="${billNotes.billDocControl}" > Status </td>
                                        </tr>
                                        <tr>
                                            <td>Checks Prepared</td>
                                            <td th:text="${billNotes.billCheckPrepare}" > Status </td>
                                        </tr>
                                        <tr>
                                            <td>Checks Issued</td>
                                            <td th:text="${billNotes.billCheckRelease}" > Status </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!--collapse start-->
                                    <div class="panel-group m-bot20" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                        Bill Notes:
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <text th:text="${billNotes.billNotes}"></text>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-6">
                            <section class="panel">
                                <header class="panel-heading">
                                    Feedback
                                </header>
                                <div class="panel-body">
                                    <div class="row">
                                        <table class="table">
                                            <thead>
                                                <th> No. </th>
                                                <th> Date </th>
                                                <th> User </th>
                                                <th> Remarks </th>
                                                <th> Feedback</th>

                                            </thead>
                                            <tbody>
                                            <tr th:each="feedback,count : ${billFeedback}">
                                                <td th:text="${count.index + 1}">1</td>
                                                <td th:text="${feedback.date}">date</td>
                                                <td th:text="${feedback.user}"></td>
                                                <td th:style="|${feedback.billRemarks.equalsIgnoreCase('Complied') ? 'color:green;'  : 'color:red;'}|" th:text="${feedback.billRemarks}"></td>
                                                <td th:text="${feedback.feedback}">Feedback</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </section>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!--main content end-->
</section>
<!-- container section end -->
<!-- javascripts -->
<script th:src="@{js/jquery.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<!-- nice scroll -->
<script th:src="@{js/jquery.scrollTo.min.js}"></script>
<script th:src="@{js/jquery.nicescroll.js}" type="text/javascript"></script>
<!--custome script for all page-->
<script th:src="@{js/scripts.js}"></script>


</body>

</html>
