<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" th:href="@{img/favicon.png}">

    <title>Review Billing entry </title>

    <!-- Bootstrap CSS -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link th:href="@{css/bootstrap-theme.css}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link th:href="@{css/elegant-icons-style.css}" rel="stylesheet" />
    <link th:href="@{css/font-awesome.min.css}" rel="stylesheet" />
    <!-- Custom styles -->
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link th:href="@{css/style-responsive.css}" rel="stylesheet" />
</head>

<body>
<!-- container section start -->
<section id="container" class="">
    <!--header start-->

    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
        </div>

        <!--logo start-->
        <a href="index.html" class="logo">Scholarship <span class="lite">Billing Checking</span></a>
        <!--logo end-->

        <div class="top-nav notification-row">
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="img/avatar1_small.jpg">
                            </span>
                    <span class="username">#USERNAME</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>
                    <li>
                        <a href="#"><i class="icon_key_alt"></i> Log Out</a>
                    </li>
                </ul>
            </li>
            <!-- user login dropdown end -->
            </ul>
            <!-- notificatoin dropdown end-->
        </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu">
                <li class="">
                    <a class="" href="#">
                        <i class="icon_house_alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a th:href="@{javascript:;}" class="">
                        <i class="icon_document_alt"></i>
                        <span>Bill Entry</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li> <a class="" href="#"> View Billing Entry </a> </li>
                        <li> <a class="" href="#"> Create Billing Entry </a> </li>
                        <li> <a class="" href="#">Add Candidates</a></li>
                    </ul>
                </li>
                <li>
                    <a class="" href="#">
                        <i class="icon_search-2"></i>
                        <span>Review Billing Entry</span>
                    </a>
                </li>
                <li>
                    <a class="" href="#">
                        <i class="icon_phone"></i>
                        <span>Verify Billing Entry</span>
                    </a>
                </li>
                <li>
                    <a class="" href="#">
                        <i class="icon_document_alt"></i>
                        <span>Audit Billing Entry</span>
                    </a>
                </li>
                <li>
                    <a class="" href="#">
                        <i class="icon_folder"></i>
                        <span>Documents Control</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a th:href="@{javascript:;}" class="">
                        <i class="icon_creditcard"></i>
                        <span>Checks</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li> <a class="" href="#"> Prepare Checks </a> </li>
                        <li> <a class="" href="#"> Release Checks </a> </li>
                    </ul>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa fa-bars" ></i> Review Billing Entry</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a th:href="@{/dashboard}">Home</a></li>
                        <!--<li><i class="fa fa-bars"></i>Pages</li>
                        <li><i class="fa fa-square-o"></i>Pages</li>-->
                    </ol>
                </div>
            </div>
            <!-- Start of your page content -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 th:text="${billEntry.centerName}"> Training Center </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <br/>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <section class="panel">
                        <header class="panel-heading">
                            <div class="col-lg-6">
                                Billing Information<br/>
                            </div>
                        </header>
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>Name of TVI/AC</td>
                                    <td th:text="${billEntry.centerName}"> #Category</td>
                                </tr>
                                <tr>
                                    <td>Billing ID No.</td>
                                    <td th:text="${billEntry.billingIdNo}"> #Category</td>
                                </tr>
                                <tr>
                                    <td>Document Type</td>
                                    <td th:text="${billEntry.documentType}"> #Category</td>
                                </tr>
                                <tr>
                                    <td>Qualification</td>
                                    <td th:text="${billEntry.qualification}"> #Category</td>
                                </tr>
                                <tr>
                                    <td>Scholarship Type</td>
                                    <td th:text="${billEntry.typeOfScholar}"> #Category</td>
                                </tr>
                                <tr>
                                    <td>SG No.</td>
                                    <td th:text="${billEntry.sgNo}"> #Category</td>
                                </tr>

                                <tr>
                                    <td>Start of Training</td>
                                    <td th:text="${billEntry.startOfTraining}"> #Category</td>
                                </tr>
                                <tr>
                                    <td>End of Training</td>
                                    <td th:text="${billEntry.endOfTraining}"> #Category</td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td>
                                        <a th:href="@{/viewMoreBillInfo(id=${billEntry.billId})}">
                                            See more info
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>

                <div class="col-lg-6">
                    <section class="panel">
                        <header class="panel-heading">
                            <div class="col-lg-6">
                                    Billing Requirement Checklist
                            </div>
                        </header>

                        <!--   -------  if the document Type is null and the billingId is null too, Submit first together with the category --------- -->
                        <div class="panel-body" th:if="${billEntry.documentType == null && billEntry.billingIdNo == null}">
                            <form th:action="@{/updateBillingDocuments(id = ${billEntry.billId})}" th:object="${billEntry}" th:method="post">
                                <div class="row">
                                    &nbsp;&nbsp; &nbsp;Category
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-sm-11">
                                        <div class="col-sm-6" th:each="categoryList :${category}">
                                            <input type="radio" th:id="${categoryList}" th:name="myChoice" th:value="${categoryList}" th:field="*{category}">
                                            <label th:for="${categoryList}" th:text="${categoryList}">Male</label><br>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <br/>
                                        Document Type
                                    </div>
                                </div>
                                <div class="row">
                                    <br/>
                                </div>

                                <div class="row">
                                    <!-- <select class="form-control m-bot15" th:field="*{documentType}">
                                         <option th:each="document : ${documentList}" th:value="${document}" th:text="${document}">Option 1</option>
                                     </select>-->
                                    <ul>
                                        <li th:each="list : ${documentType}">

                                            <div class="col-sm-6" th:if="(${documentType.size() > 4})">
                                                <input type="checkbox" th:field="*{documentType}" th:value="${list}">
                                                <label th:for="${#ids.prev('documentType')}"
                                                       th:text="${list}">sample</label>
                                            </div>
                                            <div class="col-sm-6"th:unless="(${documentType.size() > 4})">
                                                <input type="checkbox" th:field="*{documentType}" th:value="${list}">
                                                <label th:for="${#ids.prev('documentType')}"
                                                       th:text="${list}">sample</label>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        &nbsp; <br/>
                                    </div>
                                    <div class="col-sm-9">
                                        <br/>
                                        <button class="btn btn-success"> Submit </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!--   -------  if the document Type is not null and the billingId is null too, Submit first together with the category --------- -->
                        <div class="panel-body" th:if="${billEntry.documentType != null && billEntry.billingIdNo == null}">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <a th:href="@{/resetcategory(id=${billEntry.billId})}"> Back </a>
                                    </div>
                                    <div class="col-sm-11">
                                    </div>



                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-sm-11">
                                        <h3>
                                            <label th:text="${billEntry.category}"></label>
                                            <label> - </label>
                                            <label th:text="${billEntry.typeOfScholar}"></label>

                                        </h3>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-1">
                                    </div>

                                    <div class="col-sm-11" th:if="${myChecklist} == null">
                                        <h3> No requirement found. please click the 'back' to choose approriate category for this bill.</h3>

                                    </div>

                                    <div class="col-sm-11" th:unless="${myChecklist} == null">
                                        <ul>
                                            <li th:each="checklist,count : ${myChecklist}">
                                                <input type="checkbox" th:value="${checklist}" th:id="${count.index}">
                                                <label th:for="${#ids.next('checklist')}"
                                                       th:text="${checklist}">sample</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-2">

                                    </div>
                                    <div>
                                        <a class="btn btn-primary" onclick="checkCountFunction()" name="btnVerify"> Verify </a>
                                    </div>
                                </div>

                                <div class ="row">
                                    <br/>

                                </div>

                                <div class="row">
                                    <div class="col-lg-2">

                                    </div>
                                    <div>
                                        <!--"-->

                                        <a th:href="@{/addBillingTagSuccessful(id=${billEntry.billId})}">
                                            <button class="btn btn-success" id="myBtn" disabled > Add Tagging Information </button><br/>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--   -------  if the document Type is not null and the billingId is null too, Send documents for verification --------- -->
                        <div class="panel-body" th:if="${billEntry.documentType != null && billEntry.billingIdNo != null}">
                            <div class="form-group">
                                <div class="row" align="center">
                                    <span class="help-block"> Print Billing Information Details </span> <br/>

                                   <!-- <a th:href="@{/printBill}">
                                    <button> Print Billing Tag</button>
                                    </a>-->


                                </div>

                                <div class="row" align="center">
                                    <a class="btn btn-success" th:href="@{/forVerify(id=${billEntry.billId})}"><span class="icon_phone"></span> Submit docs to Verify Candidates </a>
                                    <br/>
                                </div>
                                <div class="row" align="center">
                                    <br/>
                                </div>

                                <div class="row" align="center">
                                    <a class="btn btn-danger" th:href="@{/returnDocuments(id=${billEntry.billId})}" ><span class="icon_target"></span> Add Findings </a>
                                </div>

                            </div>
                        </div>


                    </section>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            List of Candidates:
                        </header>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <section class="panel">
                                        <header class="panel-heading">
                                            Candidates Enrolled:
                                        </header>

                                        <table class="table table-striped table-advance table-hover">
                                            <tbody>
                                            <tr>
                                                <th>No.</th>
                                                <th><i class="icon_profile"></i> Full Name</th>
                                                <th><i class="icon_mobile"></i> Mobile</th>
                                            </tr>
                                            <tr th:each="candidatelist, candid : ${candidateLists}">
                                                <td th:text="${candid.index + 1}">1</td>
                                                <td th:text="${candidatelist.candidateName}">Angeline Mcclain</td>
                                                <td th:text="${candidatelist.candidatePhone}">176-026-5992</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>


            </div>

        </section>
    </section>
    <!--main content end-->
</section>
<!-- container section end -->
<!-- javascripts -->
<script th:src="@{js/jquery.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<!-- nice scroll -->
<script th:src="@{js/jquery.scrollTo.min.js}"></script>
<script th:src="@{js/jquery.nicescroll.js}" type="text/javascript"></script>
<!--custome script for all page-->
<script th:src="@{js/scripts.js}"></script>

<script th:inline="javascript">


    function checkCountFunction() {

        var count = [[${myChecklist.size()}]];
        var noOfChecks = 0;
        var checkboxes = [];

        // for initialization
        for(var i = 0; i < count; i++){
            checkboxes.push(document.getElementById(i));
        }

        // for checking how many checked are ticked
        for(var i = 0; i < count; i++){

            if(checkboxes[i].checked == true){
                noOfChecks = noOfChecks + 1;
            }
        }

        if(noOfChecks == count){
            document.getElementById("myBtn").disabled = false;


        }else{
            alert("The billing document must be complete before we proceed.");
            document.getElementById("myBtn").disabled = true;
        }


    }
</script>


</body>

</html>
